:root {
  --primary-green: #79976f;
  --primary-brown: #564831;
  --background-color: #1e2621;
  --primary-text-color: #ffffff; /* White */
  --secondary-text-color: #b0b0b0; /* Light Grey */
  --success-text-color: #a8e6a3; /* Light Green */
  --error-text-color: #ff5252;
}
